* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.ms_bgc-blue {
    background-color: rgb(17, 56, 116);
}


/* main */
.ms_bgc-green {
    background-color: green;
}

/* jumbotron */
.avatar-img {
    width: 200px;
}

.separatore {
    height: 2px;
    width: 60px;
}

/* portfolio */



/* debug */
.portfolio {
    height: 400px;
}

.debug .about {
    height: 400px;
}

.contact {
    height: 300px;
}

.debug .footer-top {
    background-color: lightskyblue;
    height: 200px;
}

.debug .footer-bottom {
    background-color: darkslateblue;
    height: 80px;
}