body {
    font-family: 'Lato', Arial, sans-serif;
}

.ms_bgc-blue {
    background-color: rgb(11, 39, 82);
}

.ms_bgc-lightblue {
    background-color: rgb(17, 60, 124);
} 

.ms_bgc-green {
    background-color: green;
}

.separatore {
    height: 3px;
    width: 60px;
}

/* jumbotron */
.avatar-img {
    width: 200px;
}

/* portfolio */
.box img {
    width: 100%;
}

/* Footer */
.ms_footer-icon{
    width: 40px;
    height: 40px;
}

.ms_green {
    color: green;
}

.footer-bottom {
    height: 80px;
}

/* debug */
/* .portfolio {
    height: 400px;
}

.debug .about {
    height: 400px;
}

.debug .contact {
    height: 300px;
} 

.debug .footer-top {
    background-color: lightskyblue;
    height: 200px; 
}

.debug .footer-bottom {
    background-color: darkslateblue;
} */